@import url(http://fonts.googleapis.com/css?family=Fanwood+Text);

.support_form_container { margin-left: 150px; width: 600px; }

.support_form_label { 
    height: 15px; 
    padding: 10px;
    background-color: grey; 
    color: white;
    font-size: 17px;
    font-family: 'Fanwood Text', serif; 
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.support_form_item {
  padding-bottom: 20px; 
}